/* contact-form */
.form-input {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
  }
  
  .form {
    background-color: #fff;
    width: 90%;
    max-width: 400px;
    margin: auto;
    border-radius: 1em;
    padding: 3.5em 1.5em;
  }
  
  .form_container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
  }
  
  .form-title {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 0.4em;
  }
  
  .form-input--mensaje {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: 0.5em;
  }
  
  .form-enviar {
    font-family: inherit;
    background-color: blueviolet;
    color: #fff;
    border: none;
    font-weight: 300;
    padding: 0.7em 0;
    border-radius: 0.2em;
    cursor: pointer;
    font-weight: 400;
  }
  
  @media (max-width: 450px) {
    .form {
      padding: 3.5em 1em;
    }
  }