@import url("./main/carousel/style.css");
@import url("./main/intro/style.css");
@import url("./main/events_cards/style.css");
@import url("./main/gallery/style.css");
@import url("./footer/style.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap");

*,
html {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
  font-family: "Raleway", sans-serif;
  background: #fff7ea;
}

header,
main {
  height: 100vh;
}


/* MODAL */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 182, 193, 0.7); */
    
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: #E9DBC1; 
    padding: 20px;
    text-align: center;
    border-radius: 8px; 
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #767676;
}