@import url("./main/carousel/style.css");
@import url("./main/intro/style.css");
@import url("./main/events_cards/style.css");
@import url("./main/modal_cards/style.css");
@import url("./main/gallery/style.css");
@import url("./footer/style.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap");

*,
html {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
  font-family: "Raleway", sans-serif;
  background: #fff7ea;
}

header,
main {
  height: 100vh;
}
