@import url("./header/style-form.css");
@import url("./header/style.css");
@import url("./main/carousel/style.css");
@import url("./main/intro/style.css");
@import url("./main/events_cards/style.css");
@import url("./main/modal_cards/style.css");
@import url("./main/gallery/style.css");
@import url("./footer/style.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap");

*,
html {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
  font-family: "Raleway", sans-serif;
  background: #fff7ea;
}

header,
main {
  height: 100vh;
}
.listo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;

}
.cuadro{
  margin: 50px;
  width: 100%;

}
.titulo{
  display: block;
  text-align: center;
  margin: auto;

}
.titulo h1{
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  margin: 1rem;
  text-decoration: underline;
}
.titulo h1:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.items img {
  max-width: 100%;
  margin-left: 1px;
}
/* Galeria api*/

.contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}
.items:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px #000;
  transform: translateY(-5px) scale(1.01);
  z-index: 1;
}
