/*VENTANA MODAL */

.modal_cards {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 182, 193, 0.7); */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: #E9DBC1; 
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    line-height: 1.5;

}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #767676;
}